[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-spectacular = "*"
django = "*"
djangorestframework = "*"

[dev-packages]
isort = "*"
black = "*"
mypy = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
bumpversion = "*"
tblib = "*"
coverage = "*"
flit = "*"
pre-commit = "*"

[requires]
python_version = ">=3.9"
